*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    gap: 30px;
}
small{
    text-align: center;
}
.card{
    margin-top: 100px;
    height: 450px;
}
@media (max-width: 925px) {
    main{
        flex-direction: column;
    }
    
}